h1 {
    
    background-color: aqua;
            width: 300px;
            height: 100px;
            border-style: solid;
            padding: 10px;
            border-radius: 20px;
            text-align: center;
            margin: 20px auto; 
            /* tum chahte ho ki woh center mein aaye, toh margin: auto automatically dono sides (left aur right) ka equal space daal deta hai. */
            /* Centers the block element */
            box-sizing: border-box;
            /* Agar tum box-sizing: border-box; lagate ho, toh width aur height padding aur border ko include karte hain.
            Matlab, jo width set ki hai (300px), usme padding aur border included rahenge. */
    
}
ul {
    background-color: yellow;
    /* border-width: 10px;
    border-color: aqua;
    border-style: double; */
    border: 10px aqua double;
    padding: 20px ;
}
body {
    background-color: pink;
    margin: 20px 50px 15px 50px;
    
}
p {
    background-color: lightgreen;
    border-width: 10px;
    border-color:blueviolet;
    border-style: dotted;
    padding: 10px;
}
h2 {
    background-color: lightblue;
    border-style: solid;
    padding: 10px;
    border-left-width: 10px;
    border-left-color: red;
    border-left-style: double;
}
ol {
    background-color: lightyellow;
    border-width: 10px 30px;
    /* top,right,bottom ,left if u give 4 size */
    border-color: aqua;
    border-style:groove;
}